<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnableMetadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>      
    <bindings />
    <services>
      <service name="Monitoring.MonitoringService" behaviorConfiguration="EnableMetadata">
        <endpoint binding="basicHttpBinding" bindingConfiguration="" name="httpEndpoint" contract="Monitoring.IMonitoringService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="" name="netTcpEndpoint" contract="Monitoring.IMonitoringService" />
        <!-- Im Client einen Dienstverweis hinzufügen: net.tcp://localhost:9500/MonitoringService/MEX-->
        <endpoint address="MEX" binding="mexTcpBinding" bindingConfiguration="" name="mexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9400/MonitoringService" />
            <add baseAddress="net.tcp://localhost:9500/MonitoringService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>