<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpEndpoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9400/MonitoringService" binding="basicHttpBinding"
                bindingConfiguration="httpEndpoint" contract="refMonitoring.IMonitoringService"
                name="httpEndpoint" />
			<!--
            <endpoint address="net.tcp://localhost:9500/MonitoringService"
                binding="netTcpBinding" bindingConfiguration="netTcpEndpoint"
                contract="refMonitoring.IMonitoringService" name="netTcpEndpoint">
                <identity>
                    <servicePrincipalName value="host/mars" />
                </identity>
            </endpoint>
			-->
        </client>
    </system.serviceModel>
</configuration>