<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="Monitoring.MonitoringService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="" name="httpEndpoint" contract="Monitoring.IMonitoringService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="" name="netTcpEndpoint" contract="Monitoring.IMonitoringService" />
        <endpoint address="MEX" binding="mexTcpBinding" bindingConfiguration="" name="mexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9400/MonitoringService" />
            <add baseAddress="net.tcp://localhost:9500/MonitoringService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuratio>